In [1]:
4%2

0

In [2]:
4/2

2.0

In [3]:
5//2

2

In [4]:
5/2

2.5

In [5]:
5+3*2

11

Bodmas

In [6]:
type(4/2)

float

In [7]:
type(2)

int

In [8]:
type(2.5)

float

In [9]:
type("jan")

str

In [11]:
a=20
b=30
c=a+b

In [12]:
c

50

In [13]:
type(c)

int

In [14]:
True

True

In [15]:
False

False

In [19]:
type(True and False)

bool

In [20]:
True | False

True

Bit wise , Logical operator

In [21]:
a=10
b=20
a+b>30 | a-b<10

True

In [22]:
a=10
b=20
a+b>30 or a-b<10

True

In [23]:
# Strings
"Jaan is Good boy"

'Jaan is Good boy'

In [24]:
str('1')#Type casting.

'1'

In [27]:
str1="Jaan is Good boy"

In [28]:
str1

'Jaan is Good boy'

In [29]:
str(1)

'1'

In [30]:
print(str1)

Jaan is Good boy

In [31]:
str1="A good boy"
str2="A bad boy"

In [32]:
print(str1,str2)

A good boy A bad boy

In [35]:
str1+" "+str2

'A good boy A bad boy'

In [36]:
name=input("Enter your Name")

Enter your NameJanardhan

In [37]:
name

'Janardhan'

In [43]:
# Add two Nubers
a=input("Enter number1")
b=input("Enter number 2")
c=a+b

Enter number1
Enter number 2

In [44]:
c

''

In [46]:
# Add two Nubers # Use type casting
a=float(input("Enter number1"))
b=float(input("Enter number 2"))
c=a+b

Enter number11.5
Enter number 22.5

In [47]:
c

4.0

In [48]:
# String Formatting
first_name=input("What is ur first name ")
last_name=input("What is ur last name ")
print("Welcone to the iNeuron Course", first_name,last_name)

What is ur first name Janardhan
What is ur last name Gurram
Welcone to the iNeuron Course Janardhan Gurram

In [49]:
# String Formatting
first_name=input("What is ur first name ")
last_name=input("What is ur last name ")
print("Welcone to the iNeuron Course", first_name,last_name)

What is ur first name Jn
What is ur last name Bn\
Welcone to the iNeuron Course Jn Bn\

In [50]:
lst1=[1,2,3,"Krish","Jana"]

In [51]:
lst1

[1, 2, 3, 'Krish', 'Jana']

In [53]:
lst1.append("Jana")

In [55]:
lst1.append(2)

In [56]:
lst1

[1, 2, 3, 'Krish', 'Jana', 'Jana', 2]

In [57]:
lst1.count(2)

2

In [58]:
lst1.count("Jana")

2

In [59]:
lst1.count("Krish")

1

#Strings are immutable